<!DOCTYPE html>
<html>
    <head>
        <title>Result</title>
    </head>
    <body>
        <h2>Calculation</h2>
        <p>Mailing <span style="font-weight:bold"><%= typeMail %></span> that weighs <span style="font-weight:bold"><%= weight %></span> will cost <span style="font-weight:bold"><%= result %></span>.</p>
</body>